---
const { color, title, subtitle } = Astro.props
const textColor = `text-${color}`
---


<section class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
    data-header-color={color}>

    <div class="z-30 relative h-full flex flex-col">
        <header id="div-title">
            <h2 id="title" class={`${textColor} pt-40  text-[40px] font-medium`}>{title}</h2>
            <div id="subtitle-container">
                <slot id="subtitle" name="subtitle"></slot>
            </div>
            
        </header>

        <footer id="btn-footer" class="flex flex-col flex-grow justify-end pb-24">
                <slot name="footer">     
        </footer>

        <slot name="footer-end">


    </div>
    
    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <slot name="background">
    </div>
    
</section>


<style>
	@media (max-width: 620px) {
        #div-title {
            margin-top: -85px;
        }
		#title  {
			font-size: 30px;
		}
	}


    .slideup-animation {
        animation: slideup 0.8s ease;
    }
    .slidedown-animation {
        animation: slidedown 0.8s ease;
    }
    @keyframes slideup {
    0% {
        transform: translateY(30%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
    }
    @keyframes slidedown {
    0% {
        transform: translateY(-5%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
    }
</style>
